* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E9DBBF;
}

.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 70px auto 0;
  padding: 0 70px;
  /* left: 50%;
  transform: translateX(-50%); */
}

header h1 {
  line-height: 1;
}

/* ハンバーガーボタン */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 5px;
  background: #fff;
  transition: all 0.3s ease;
  border-radius: 50px;
}

/* 開いたときの × アニメーション */

.hamburger.open span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


/* ナビゲーション（デフォルトは非表示） */
.nav {
  display: none;
  position: absolute; /* headerのレイアウトに影響させない */
  top: 100%;
  right: 0;
}
.nav.open {
  display: block;
}

.nav.open li{
  list-style-type: none;
}

.nav.open a{
  color: #fff;
  text-decoration: none;
  
}

/*-----------
ファーストビュー
-------------*/

.fv {
  position: relative;
}

.fv .ttl {
  top: 60%;
  left: 10%;
  position: absolute;
  font-family: 'Tsukimi Rounded', sans-serif;
}

.fv .ttl h1 {
  font-size: 48px;
  color: #fff;
  letter-spacing: 5px;
}

.fv img {
  width: 100%;
}

#first {
  width: 500px;
  max-width: 890px;
  margin: 105px auto;
  text-align: center;
}

#first h2 {
  font-family: 'Noto Serif', serif;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

#first p {
  width: 100%;
  max-width: 840px;
  font-size: 18px;
  line-height: 60px;
}

#first p span {
  font-weight: bold;
  color: #CF2807;
  font-size: 32px;
  font-weight: bold;
}

.movie {
  width: 100%;
  display: flex;
  justify-content: center;
}

iframe {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 400px;
}

#menu{
  position: relative;
  margin: 200px auto;
  width: 100%;
  max-width: 1300px;
  height: 400px;
}

.hands {
  display: block;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    height: 400px;
    background-image: url('../img/menuhand.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#menu .menu-text {
  /* position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  bottom: 30px; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  width: 100%;
  max-width: 580px;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
}

#menu .menu-text h2 {
  display: inline;
  font-family: 'Noto Serif', serif;
  font-size: 36px;
}

#menu .menu-text p {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  max-width: 580px;
  
}

#menu .menu-text button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00712F;
  color: #fff;
  width: 221px;
  border-radius: 50px;
  border: none;
  text-align: center;
}

#menu img {
  width: 100%;
  max-width: 550px;
}

.shop, .commitment {
    position: relative;
  margin: 200px auto;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.shop-img, .commitment-img {
   
    width: 100%;
    max-width: 1300px;
    height: 551px;
    background-image: url('../img/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.shop .shop-text, .commitment .commitment-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  width: 100%;
  max-width: 580px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.shop .shop-text h2, .commitment .commitment-text h2 {
  font-family: 'Noto Serif', serif;
  font-size: 36px;
}

.shop .shop-text p, .commitment .commitment-text p {
  font-size: 18px;
  line-height: 30px;
}

.shop .shop-text button, .commitment .commitment-text button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00712F;
  color: #fff;
  width: 221px;
  border-radius: 50px;
  border: none;
  text-align: center;
}

.commitment-img {
    background-image: url('../img/commitment.png');
}







